body {
    margin-bottom: 80px;
}

.filter-title {
    font-size: 20px;
    text-align: center;
}

.filter-description {
    text-align: center;
}

.images-card {
    padding-bottom: 20px !important;
}

.image-list {
    height: 600px;
    overflow: scroll;
}

.filter-sentence-box {
    height: 100px;
}


.filter-form {
    padding-top: 5px;
    padding-bottom: 5px;
}

.filter-select {
    display: block; margin-bottom: 5px
}

.down-arrow {
    font-size: 50px;
}

.bottom-button-area {
    position: fixed;
    bottom: 8%;
}

.filter-submit {
    position: fixed;
    width: 50%;
    right: 25%;
}

.add-filter-button {
    position: fixed;
    right: 6%;
    vertical-align: middle;
}

.save-filter-button {
    position: fixed;
    right: 12%;
    vertical-align: middle;
}

.template-kind-title {
    padding-top: 20px;
    font-size: 20px;
    color: gray;
}

.preset-filter-button {
    margin-top: 12px;
    text-align: left;
}